<ul id="menu" class="nav nav-list">
              <li class="nav-header">Pi</li>
             <!-- <li class="active"><a href="/">Status</a></li>-->
              <li id="index"><a href="/">Status</a></li>
              <li id="gpio"><a href="/gpio">GPIO</a></li>
              <li id="bash"><a href="/bash">Bash</a></li>
              <li class="nav-header">House</li>
              <li id="house"><a href="/house">Power</a></li>
              <li class="nav-header">Debug</li>
              <li id="log"><a href="#">Log</a></li>
              <li id="Codeenvy"><a href="https://codenvy.com/ide/ptmucha">Edit plattform</a></li>
</ul>

<script type="text/javascript">
var path  = window.location.pathname;
if (path.length == 1) //  only '/'
  path = path + "index";
path = path.substr(1);

element = document.getElementById(path);
element.setAttribute("class", "active");


</script>