
/*
#prompt-area {
  width:100%;
  display:table;
}
#prompt {
  display:table-cell; 
  width:1px;
  white-space: nowrap;
}

#newCommand {
  display:table-cell; 
  width:80%
  
}

#sendCommand {
  display:table-cell;
  width:80px;
  white-space: nowrap;
  
}
*/
label {
  display: inline;
}
#newCommand {
  width:70%
  
}


.pin {
  width: 20px;
}



.command {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  font-family: monospace;
}

.command .out {

}


.command .in {
color: rgb(0,204,0);
}
.command .err {
color: rgb(204,0,0);
}


#house {
background-image: url(/files/img/house.png);
width: 615px;
height: 464px;
z-index: 1;
}


.plug-on {
position: relative;
background-image: url(/files/img/plug_on.png);
width: 32px;
height: 32px;
z-index: 2;
}


.plug-off {
position: relative;
background-image: url(/files/img/plug_off.png);
width: 32px;
height: 32px;
z-index: 2;
}

.plug-off a, .plug-on a,  {

position: relative;
height: 100%;
width: 100%;


}
